@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<H1>Насосы</H1>
@foreach (var pump in Model.Pumps)
{
    <div class="card">
        <div id="mypump" class="card-body">
            <h4 class="card-title">
                <div>
                <a asp-page="Pump" asp-route-id="@pump.Id">
                    Насос: @pump.Name   
                </a>
                <span style="float:right; font-size:small">
                     Время снятия показаний:
                     <span id="pump_@(pump.Id)_UpdateTime" > 
                        @pump.UpdateTime.ToShortTimeString()
                     </span>
                </span>
                
                </div>
            </h4>     
            <partial name="_PumpSensorData" for="@pump"></partial>
        </div>
    </div>     
} 
@section Scripts {
    <partial name="_PumpSensorDataSSEScripts"></partial>
}
